@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i');

body {
  margin: 0px;
  font-family: 'Lato', sans-serif !important;
  letter-spacing: 0.67px;
  background: rgba(7,30,54,1);
  background: -moz-linear-gradient(-45deg, rgba(7,30,54,1) 0%, rgba(17,102,85,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(7,30,54,1)), color-stop(100%, rgba(17,102,85,1)));
  background: -webkit-linear-gradient(-45deg, rgba(7,30,54,1) 0%, rgba(17,102,85,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(7,30,54,1) 0%, rgba(17,102,85,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(7,30,54,1) 0%, rgba(17,102,85,1) 100%);
  background: linear-gradient(135deg, rgba(7,30,54,1) 0%, rgba(17,102,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071e36', endColorstr='#116655', GradientType=1 );
}

body, html {
  height: 100%;
  overflow: hidden;
}

.max-vh, .max-vh > div {
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.button-split {
  width: 65%;
  display: flex;
}

.button-split .button {
  flex: 1;
  font-weight: 100;
  cursor: pointer;
  outline: none;
  background-color: rgba( 255, 255, 255, 0.2 );
  border: none;
  border-right: 1px solid rgba( 255, 255, 255, 0.3 );
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
}

.button-split .button:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.button-split .button:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: none;
}

.button-active {
  background-color: rgba( 255, 255, 255, 0.1 ) !important;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66%;
  padding: 0 10%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 12%;
  color: #ffffff;
}

.header-title {
  font-size: 28px;
  font-weight: 300;
}

.header-title-inverse {
  color: #c1c1c1;
}

.header-subtitle {
  font-weight: 100;
}

.range-slider {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.aside {
  height: 12%;
  display: flex;
  align-items: flex-end;
}

.legend-item {
  box-sizing: border-box;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  flex: 1;
}

.legend-value {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
